<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task</title>
    <script>

        function showPage(id){
            fetch(`/sections/${id}`)
            .then(response => response.text())
            .then(text =>{
                console.log(text);
                document.querySelector('#content').innerHTML=text;
            });
        }

        document.addEventListener('DOMContentLoaded',()=>{
            document.querySelectorAll('button').forEach(button =>{
                button.onclick=function(){
                    showPage(this.dataset.page);
                }
            });
        });
   
    </script>
</head>
<body>
    <h1>Hello</h1>
    <button data-page="1">Paragraph 1</button>
    <button data-page="2">Paragraph 2</button>
    <button data-page="3">Paragraph 3</button>
    <div id="content">
    </div>
</body>
</html>